html, body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	color: #666;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	line-height: 1.7em;
	background-color: #fff;
	background-repeat: repeat-x;
	background-position: top
}

.homepage {
	background-image: url(../images/site_body.jpg);
}

.subpage {
	min-height: 100%;
	height: auto !important;
	/* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0 auto -52px;
	/* the bottom margin is the negative value of the footer's height */
	background: url(../images/site_body_subpage.jpg);
	background-repeat: repeat-x;
}

a, a:link, a:visited {
	color: #5FA008;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	height: 500px
}

p {
	margin: 0 0 10px 0;
	padding: 0;
	font-size: 1.2em;
}

img {
	border: none;
}

em {
	color: #000;
	font-weight: bold;
	font-style: normal
}

h1, h2, h3, h4, h5, h6 {
	/*color: #000;*/
	font-weight: normal;
}

h1 {
	font-size: 34px;
	margin: 0 0 20px 0;
	padding: 5px 0
}

h2 {
	font-size: 28px;
	margin: 0 0 20px 0;
	padding: 5px 0;
}

h3 {
	font-size: 24px;
	margin: 0 0 15px;
	padding: 0;
}

h4 {
	font-size: 18px;
	margin: 0 0 15px;
	padding: 0;
}

h5 {
	font-size: 16px;
	margin: 0 0 10px;
	padding: 0;
}

h6 {
	font-size: 14px;
	margin: 0 0 5px;
	padding: 0;
}

.cleaner {
	clear: both
}

.h10 {
	height: 10px
}

.h20 {
	height: 20px
}

.h30 {
	height: 30px
}

.h40 {
	height: 40px
}

.h50 {
	height: 50px
}

.h60 {
	height: 60px
}

a.more {
	clear: both;
	display: block;
	width: 103px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #000;
	font-weight: bold;
	background: url(../images/site_button.png);
}

a.more:hover {
	text-decoration: none;
	color: #fff;
}

.float_l {
	float: left
}

.float_r {
	float: right
}

.image_wrapper {
	display: inline-block;
	border: 5px solid #fff;
	background: none;
	margin-bottom: 5px;
}

.image_fl {
	float: left;
	margin: 3px 15px 0 0;
}

.image_fr {
	float: right;
	margin: 3px 0 0 15px;
}

.site_list {
	margin: 20px 0 20px 20px;
	padding: 0;
	list-style: none;
}

.site_list li {
	color: #e98236;
	margin: 0;
	padding: 0 0 0 20px;
	background: url(../images/site_list.jpg) no-repeat scroll 0 7px;
}

.site_list li a {
	color: #e98236;
	font-weight: normal;
}

.site_list li a:hover {
	color: #e98236;
}

#site_wrapper {
	width: 960px;
	padding: 0px 0px 30px;
	margin: 0 auto
}

#site_header {
	width: 960px;
	height: 100px;
}

#site_title {
	float: left;
}

#site_title h1 {
	margin: 15px 0 0 0;
	padding: 0;
}

#site_title h1 a {
	display: block;
	width: 316px;
	height: 80px;
	color: #fff;
	text-indent: -10000px;
	background: url(../images/site_logo.png);
}

.push {
	height: 45px; /* .push must be the same height as .footer */
}
/* menu */
#site_menu {
	clear: both;
	width: 960px;
	height: 50px;
	background: url(../images/site_menu.jpg)
}

#site_menu ul {
	float: left;
	width: 740px;
	margin: 0;
	padding: 0;
	list-style: none;
}

#site_menu ul li {
	float: left;
	display: block;
	width: 110px;
	padding: 0;
	margin: 0;
	display: inline;
	text-align: center;
	background: url(../images/site_menu_divider.png) no-repeat right center
}

#site_menu ul li a {
	display: block;
	width: 110px;
	height: 38px;
	padding: 15px 0 0;
	margin: 0;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	color: #5fa008;
	font-weight: normal;
	outline: none;
	border: none;
	background: url(../images/site_menu.png) no-repeat bottom center
}

#site_menu ul li a:hover, #site_menu ul li .current {
	color: #fff;
	height: 38x;
	padding: 13px 0 0 0;
	background: url(../images/site_menu_hover.png) bottom center no-repeat;
	border-bottom: 3px solid white;
}

#site_menu ul .last {
	background: none;
}

#search_box {
	float: right;
	margin: 12px 0 0 0;
	width: 170px;
	height: 27px;
	/*background: url(../images/site_search.png) no-repeat;*/
}

#search_box form {
	clear: both;
	width: 170px;
	height: 26px;
	padding: 0;
	margin: 0;
}

#searchfield {
	float: left;
	display: block;
	height: 26px;
	width: 140px;
	padding: 5px;
	font-size: 12px;
	color: #ccc;
	line-height: 0;
	background: #4B4B4B;
	border: 0px solid #4B4B4B;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
}

#searchbutton {
	float: right;
	display: block;
	height: 26px;
	width: 30px;
	padding: 0;
	margin: 0;
	background: #5FA008 url('../images/search_small.png') no-repeat;
	background-position: center;
	border: 0px solid #5FA008;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
}

/* end of menu */

/* slider */
#site_middle {
	clear: both;
	width: 960px;
	height: 280px;
	padding: 10px 0;
	margin-bottom: 5px;
	background: url(../images/site_middle.jpg) left top no-repeat
}

#intro {
	float: left;
	padding: 15px 0;
	width: 520px;
}

#intro h2 {
	font-size: 30px;
	color: #fff;
	margin-bottom: 30px;
}

#intro p {
	font-size: 14px;
	letter-spacing: 1px;
	word-spacing: 5px;
	line-height: 24px;
	color: #fff;
	margin-bottom: 30px;
}

#intro a.learn_more {
	display: block;
	width: 170px;
	height: 40px;
	background: url(../images/site_learn_more.jpg) no-repeat;
}

#site_middle_subpage {
	clear: both;
	width: 960px;
	height: 130px;
	padding: 25px 0;
	background: url(../images/site_middle.png) no-repeat
}

#site_middle_subpage h2 {
	color: #fff;
}

#site_middle_subpage p {
	font-size: 16px;
	color: #eee;
	line-height: 30px;
}

#site_middle_subpage a {
	color: #eee;
}

#slider {
	float: right;
	width: 320px;
	height: 240px;
	overflow: hidden;
}

/* end of slider */
#site_main {
	clear: both;
	width: 960px;
	padding-bottom: 40px;
	background: #fff;
	registrationForm
}

.col_w960 {
	width: 960px;
	margin-bottom: 40px
}

.col_w600 {
	width: 600px
}

.col_w450 {
	width: 450px
}

.col_w300 {
	width: 300px
}

.col_allw300 {
	width: 300px;
	float: left;
	margin-right: 30px
}

.col_last {
	margin: 0
}

.col_w960_last {
	margin: 0;
	background: none;
}

.col_last {
	margin: 0;
}

.wwd_box {
	clear: both;
	margin-bottom: 20px
}

.wwd_box img {
	float: left;
	width: 120px;
	margin-right: 30px
}

.wwd_box h3 {
	font-size: 16px;
	margin-bottom: 0
}

.wwd_box h3 a {
	color: #0e4369;
	font-size: 16px;
	font-weight: normal
}

.wwd_box p {
	margin-bottom: 30px;
}

.lp_box {
	float: left;
	width: 300px;
	margin-right: 30px
}

.lp_box h6 {
	font-weight: bold;
	font-size: 1.3em;
	text-align: left;
	padding-left: 45x;
}

}
.lp_box_last {
	margin: 0
}

.lp_box img {
	border: 1px solid #CCC;
	padding: 4px
}

#cp_contact_form {
	padding: 0;
	width: 400px;
}

#cp_contact_form form {
	margin: 0px;
	padding: 0px;
}

#cp_contact_form form .input_field {
	width: 390px;
	padding: 10px;
	border: 1px solid #ccc;
	color: #333;
	background: #fff;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	margin-top: 5px;
}

#cp_contact_form form label {
	display: block;
	width: 100px;
	margin-right: 10px;
	font-size: 14px;
}

#cp_contact_form form textarea {
	width: 390px;
	height: 160px;
	padding: 10px;
	border: 1px solid #ccc;
	color: #333;
	background: #fff;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	margin-top: 5px;
}

#cp_contact_form form .submit_btn {
	margin: 5px 0px;
	padding: 10px 20px;
	text-decoration: none;
	background: #fff;
	border: 1px solid #ccc;
	font-size: 14px;
}

#map img {
	width: 300px;
	height: 200px;
	border: 1px solid #999;
	padding: 4px;
}

.news_box {
	clear: both;
	margin-bottom: 30px;
	border-bottom: dotted 2px;
	padding-bottom: 30px;
}

}
.news_box h2 {
	font-size: 20px;
	margin-bottom: 0;
}

.news_box p.date {
	color: #000;
}

.news_box img {
	float: left;
	width: 140px;
	height: 100px;
	padding: 4px;
	border: 1px solid #000;
	margin-right: 30px;
}

.news_box a.more {
	float: right;
}

.sb_lp_box {
	clear: both;
	margin-bottom: 20px;
}

.sb_lp_box img {
	padding: 9px;
	border: 1px solid #ccc;
}

.post_box {
	clear: both;
	margin-bottom: 30px;
}

.post_box h2 {
	font-size: 20px;
	margin-bottom: 10px;
}

.post_box p.post_meta {
	margin-bottom: 0;
}

.post_box p span.cat a {
	color: #cb5c02;
	font-weight: 400;
}

.post_box img {
	width: 550px;
	height: 160px;
	border: 10px solid #eee;
	margin-bottom: 10px;
}

.post_box a.more {
	float: right;
}

.lbe_box {
	clear: both;
	margin-bottom: 20px;
}

.lbe_box h3 {
	font-size: 16px;
	margin-bottom: 0;
}

.lbe_box h3 a {
	color: #0e4369;
	font-size: 16px;
	font-weight: normal;
}

.lbe_box h3 a span {
	font-size: 12px;
	color: #333;
}

.lbe_box p {
	margin-bottom: 0;
}

.lbe_box p.date {
	font-size: 10px;
	font-weight: 700;
	color: #0e4369;
}

#gallery {
	margin: 0;
	padding: 0;
}

#gallery .gallery_box {
	display: block;
	float: left;
	width: 280px;
	margin: 0 30px 30px 0;
	padding: 8px;
	border: 1px solid #ccc;
}

#gallery .third {
	margin: 0 0 30px 0;
}

#gallery .gallery_box a img {
	border: 1px solid #ccc;
	margin-bottom: 5px;
}

#site_cr_wrapper {
	clear: both;
	width: 100%;
	background: #000;
	bottom: 0;
}

#site_cr {
	width: 960px;
	margin: 0 auto;
	padding: 15px 0;
	text-align: center;
	color: #666;
	background: url(../images/site_footer.jpg) top center no-repeat
}

/**************************
 * specific als elements
 **************************/
#site_cr a {
	color: #5fa008;
	font-weight: normal;
}

.als-container {
	position: relative;
	width: 110%;
	margin: 0px auto;
}

.als-viewport {
	position: relative;
	overflow: hidden;
	margin: 0px 2px;
}

.als-wrapper {
	position: relative;
	list-style: none;
}

.als-item {
	position: relative;
	display: block;
	text-align: center;
	cursor: pointer;
	float: left;
}

.als-prev, .als-next {
	position: absolute;
	cursor: pointer;
	clear: both;
}

#lista1 {
	margin: 0px 0px 100px 0px;
}

#lista1 .als-item {
	margin: 10px 10px;
	min-height: 152px;
	min-width: 128px;
}

#lista1 .als-item img {
	position: relative;
	display: block;
	vertical-align: middle;
}

#lista1 .als-prev, #lista1 .als-next {
	width: 15px;
	height: 22px;
	top: 300px
}

#lista1 .als-prev {
	left: 0px;
}

#lista1 .als-next {
	left: 40px;
}

.userbar {
	float: right;
	padding-top: 70px;
	font-size: 1 em;
	display: block;
}

.userbar ul {
	list-style-type: none;
}

.userbar li {
	display: inline;
	float: right;
	padding-right: 8px;
	padding-top: 0px;
	font-size: 1.08em;
}

.userbar a {
	display: inline;
	float: right;
}

.userbar a:link {
	
}

}
.userbar a:visited {
	
}

}
.userbar a:hover {
	height: 8px !important;
}

.userbar a:active {
	
}

.userbarA {
	height: 8px !important;
}

.greska {
	padding-top: 5px;
	font-family: fantasy;
	font-weight: bold;
	font-size: 0.8em;
	color: #FF0000;
}

.firstCol {
	vertical-align: text-bottom;
}

.tipOglasivacaRadio label {
	padding-right: 50px;
}

.tipOglasivacaRadio {
	padding-bottom: 35px;
	font-size: 1.5em;
}

.botuni {
	padding-top: 25px;
}

.listaj td {
	padding-right: 15px;
}

.title {
	font-style: italic;
	padding-bottom: 15px;
	font-weight: bold;
	padding-top: 25;
}

.fusnota {
	font-size: 0.8em;
}

.bigpic {
	/*     float: left; */
	width: 400px;
	height: 300px;
	border: 1px solid black;
	overflow: hidden;
}

.bigpic img {
	width: 400px;
	height: 300px;
}

.rightbar {
	float: left;
	width: 400px;
	/*   margin-left: 5px; */
	margin-top: 8px;
	margin-bottom: 20px;
}

.littlepic {
	width: 60px;
	height: 45px;
	border: 1px solid black;
	margin-bottom: 5px;
	margin-left: 0.7px;
	overflow: hidden;
	display: inline-block;
}

.littlepic img {
	width: 100%;
}

.galerija {
	float: right;
}

.detaljiOglas {
	float: left;
}

.detaljiOglas td {
	padding-right: 40px;
	padding-bottom: 10px;
}

div span.oglasLabela {
	color: #5FA008;
	font-weight: bold;
}

div span.oglasIznos {
	font-weight: bold;
	font-size: 1.25em
}

table labelRez {
	color: #5FA008;
	font-weight: bold;
	float: right;
	padding-right: 18px;
	padding-bottom: 4px;
}

table label {
	color: #5FA008;
	font-weight: bold;
}

.oglasCijena {
	padding-bottom: 15px;
	padding-top: 10px;
}

#naslovVeci {
	
}

.prikaziSliku {
	padding-left: 25px;
	padding-right: 25px;
}

.btns {
	padding-top: 25px
}

.info td {
	padding-bottom: 5px;
}

.podnaslov {
	color: white;
}

.opcije {
	font-size: 1.2em
}

.dodatneStavkeDiv {
	padding-bottom: 30px;
}

.tipovi {
	width: 120px;
}

.labelStavkaID {
	color: #5FA008;
	font-weight: bold;
	padding-right: 25px;
}

.labelFirstCol {
	color: #5FA008;
	font-weight: bold;
	padding-right: 25px;
}
#buttonRow {
	padding-top:25px;
}
#pretragaTable td {
	padding-top: 10px;
}